.main {
  width: 80%;
  margin: 5.8rem auto;
  background-color: #fff;
  border: 1px dashed var(--color-surface-high);
  border-radius: 8px;
  color: var(--color-surface-x-high);
  padding: 1.875rem;
}
  
.inputsBlock {
  display: flex;
  flex-wrap: wrap;
}
.input {
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.title {
  font-weight: 500;
}

@font-face {
  font-family: 'PP Air ExtraLight';
  src: url('./assets/fonts/PPAir-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Air SemiBold Mono';
  src: url('./assets/fonts/PPAir-SemiBoldMono.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Air';
  src: url('./assets/fonts/PPAir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
