:root {
  /* accent */
  --color-surface-high: #8C8C9A;
  --color-surface-low: #C9C9CE;
  --color-surface-brand: #0050FF;
  --color-surface-x-high: #2C2C31;
  --color-surface-900: #382766;
  --color-surface-light: #F9F9F9;
 
  /*  danger */
  --color-danger-100: #FFDCDC;
  --color-danger-300: #DC2828;
 
  /*  warning */
  --color-warning-100: #FAF1B6;
  --color-warning-300: #A56315;
 
  /*  light */
  --color-light-100: #fff;
 
  /*  state colors*/
  --color-state-hover: #1A1A1A0F, 6%;
  --color-state-focus: #1A1A1ACC, 80%;
}