:root {
  --font-family-primary: 'On Air', sans-serif;
  
  /* line heights */
  --line-height-s: 16px;
  --line-height-m: 22px;
  --line-height-l: 36px;
 
  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;
 
  /* font weights */
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  
  & {
    @font-face {
      font-family: 'PP Air ExtraLight';
      src: url('./../fonts/PPAir-ExtraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
      font-display: swap;
    }
    
    @font-face {
      font-family: 'PP Air SemiBold Mono';
      src: url('./../fonts/PPAir-SemiBoldMono.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
    }
    
    @font-face {
      font-family: 'PP Air';
      src: url('./../fonts/PPAir-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }
  }
}